@page
@model AutoOnderdelenSite.Pages.AdvertentieMaakPaginaModel
@{
}
@if (Model.message != null)
{
    <h3>@Model.message</h3>
}

@if(Model.advertentiesoort=="nieuw")
{
    <form method="post">
        <label for="ProductId">Product:</label>
        <select asp-for="ProductIdInput" name="ProductIdInput" id="ProductIdInput">
            @foreach(Models.Product _product in Model.products)
            {
                <option value="@_product.ProductId">@_product.ProductNaam</option>
            }
        </select>
        <label for="AantalInput">aantal:</label><input asp-for="AantalInput" name="AantalInput" id="AantalInput" type="number" />
        <label for="PrijsInput">prijs:</label><input asp-for="PrijsInput" name="PrijsInput" id="PrijsInput" type="text" />
        <button asp-page-handler="NieuwAdvertentieMaken" type="submit">Maak Advertentie</button>
    </form>
    <a asp-page="/BedrijfUserPagina" class="btn btn-primary">annuleer</a>
}

@if (Model.advertentiesoort == "refurbished")
{
    <form method="post">
        <label for="ProductId">Product:</label>
        <select asp-for="ProductIdInput" name="ProductIdInput" id="ProductIdInput">
            @foreach (Models.Product _product in Model.products)
            {
                <option value="@_product.ProductId">@_product.ProductNaam</option>
            }
        </select>
        <label for="StaatProductInput">Staat van het product:</label><input asp-for="StaatProductInput" name="StaatProductInput" id="StaatProductInput" type="text" />
        <label for="PrijsInput">prijs:</label><input asp-for="PrijsInput" name="PrijsInput" id="PrijsInput" type="text" />
        <button asp-page-handler="RefurbishedAdvertentieMaken" type="submit">Maak Advertentie</button>
    </form>
    <a asp-route="/BedrijfUserPagina" class="btn btn-primary">annuleer</a>
}

@if (Model.advertentiesoort == "tweedehands")
{
    <form method="post">
        <label for="ProductId">Product:</label>
        <select asp-for="ProductIdInput" name="ProductIdInput" id="ProductIdInput">
            @foreach (Models.Product _product in Model.products)
            {
                <option value="@_product.ProductId">@_product.ProductNaam</option>
            }
        </select>
        <label for="StaatProductInput">Staat van het product:</label><input asp-for="StaatProductInput" name="StaatProductInput" id="StaatProductInput" type="text" />
        <label for="PrijsInput">prijs:</label><input asp-for="PrijsInput" name="PrijsInput" id="PrijsInput" type="text" />
        <button asp-page-handler="TweedeHandsAdvertentieMaken" type="submit">Maak Advertentie</button>
    </form>
    <a asp-route="/ParticulierUserPagina" class="btn btn-primary">annuleer</a>
}