@page "/"
@model MainPageModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.partOfBedrijf == "Bedrijf")
{
    <p>Een bedrijf is ingelogd</p>
    <form method="post"><button class="btn btn-primary"> Logout </button></form>
    <a asp-page="/BedrijfUserPagina" class="btn btn-primary">User pagina</a>
}

@if (Model.partOfBedrijf == "Particulier")
{
    <p>Een particulier is ingelogd</p>
    <form method="post"><button class="btn btn-primary"> Logout </button></form>
    <a asp-page="/ParticulierUserPagina" class="btn btn-primary">User pagina</a>
}

@if(Model.partOfBedrijf==null)
{
    <a class="btn btn-primary" asp-page="BedrijfLogin"> Bedrijf Login </a>

    <a class="btn btn-primary" asp-page="ParticulierLogin"> Particulier Login </a>
}
  
<h2>Dit is om even te testen</h2>
<table class="table">
    @foreach (Models.Particulier _particulier in Model.particulieren)
    {
        <tr>
            <td>@_particulier.VoorNaam</td>
            <td>@_particulier.AchterNaam</td>
            <td>@_particulier.TelefoonNummer</td>
        </tr>
    }
    @foreach (Models.TweedeHandsAdvertentie _tweedeHands in Model.tweedeHandsAdvertenties)
    {
        <tr>
            <td>@_tweedeHands.ProductId</td>
            <td>@_tweedeHands.StaatProduct</td>
        </tr>
    }
</table>


<a class="btn btn-primary" asp-page="UserAanmaken"> User Aanmaken </a>

