@page "/"
@model MainPageModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.partOfBedrijf == "Bedrijf")
{
    <p>Een bedrijf is ingelogd</p>
    <form method="post"><button class="btn btn-primary"> Logout </button></form>
    <a asp-page="/BedrijfUserPagina" class="btn btn-primary">User pagina</a>
}

@if (Model.partOfBedrijf == "Particulier")
{
    <p>Een particulier is ingelogd</p>
    <form method="post"><button class="btn btn-primary"> Logout </button></form>
    <a asp-page="/ParticulierUserPagina" class="btn btn-primary">User pagina</a>
}

@if (Model.partOfBedrijf == "Beheerder")
{
    <p>Een beheerder is ingelogd</p>
    <form method="post"><button class="btn btn-primary"> Logout </button></form>
    <a asp-page="/BeheerderPagina" class="btn btn-primary">User pagina</a>
}

@if (Model.partOfBedrijf == null)
{
    <a class="btn btn-primary" asp-page="BedrijfLogin"> Bedrijf Login </a>

    <a class="btn btn-primary" asp-page="ParticulierLogin"> Particulier Login </a>

    <a class="btn btn-primary" asp-page="BeheerderLogin"> Beheerder Login </a>

    <a class="btn btn-primary" asp-page="UserAanmaken"> User Aanmaken </a>

}


<br />
<h3>Zoek hier naar producten. Let op Hoofdletters!</h3>
<br />
<form method="post">
    <input asp-for="ZoekTerm" type="text" />
    <button asp-page-handler="Zoek" type="submit" class="btn btn-primary">zoek</button>
</form>
<br />

@if (Model.tweedeHandsAdvResult != null)//Met .count geeft hij een error omdat er eerst geen zoeopdracht is uitgevoerd.
{
    <h3>advertenties voor tweede hands producten</h3>
    <table class="table">
        <tr>
            <th>Productnaam</th>
            <th>Producttype</th>
            <th>Omschrijving</th>
            <th>Staat van het product</th>
        </tr>
        @foreach (Models.TweedeHandsAdvertentie _adv in Model.tweedeHandsAdvResult)
        {
            <tr>
                <td>@_adv.Product.ProductNaam</td>
                <td>@_adv.Product.ProductType</td>
                <td>@_adv.Product.Omschrijving</td>
                <td>@_adv.StaatProduct</td>
            </tr>
            <tr>
                <td>
                    <a class="link-primary" asp-page="AdvertentiePagina" asp-route-advertentieSoort="Tweedehands" asp-route-advertentieId="@_adv.AdvertentieId">naar advertentie</a>
                </td>
            </tr>
        }

    </table>
}

@if (Model.refurbishedAdvResult != null)
{
    <h3>advertenties voor refurbished producten</h3>
    <table class="table">
        <tr>
            <th>Productnaam</th>
            <th>Producttype</th>
            <th>Omschrijving</th>
            <th>Staat van het product</th>
        </tr>
        @foreach (Models.RefurbishedAdvertentie _adv in Model.refurbishedAdvResult)
        {
            <tr>
                <td>@_adv.Product.ProductNaam</td>
                <td>@_adv.Product.ProductType</td>
                <td>@_adv.Product.Omschrijving</td>
                <td>@_adv.StaatProduct</td>
            </tr>
            <tr>
                <td>
                    <a class="link-primary" asp-page="AdvertentiePagina" asp-route-advertentieSoort="Refurbished" asp-route-advertentieId="@_adv.AdvertentieId">naar advertentie</a>
                </td>
            </tr>
        }
    </table>
}

@if (Model.nieuwAdvResult != null)
{
    <h3>advertenties voor nieuwe producten</h3>
    <table class="table">
        <tr>
            <th>Productnaam</th>
            <th>Producttype</th>
            <th>Omschrijving</th>
            <th>Aantal</th>
        </tr>
        @foreach (Models.NieuwProductAdvertentie _adv in Model.nieuwAdvResult)
        {
            <tr>
                <td>@_adv.Product.ProductNaam</td>
                <td>@_adv.Product.ProductType</td>
                <td>@_adv.Product.Omschrijving</td>
                <td>@_adv.Aantal</td>
            </tr>
            <tr>
                <td>
                    <a class="link-primary" asp-page="AdvertentiePagina" asp-route-advertentieSoort="Nieuw" asp-route-advertentieId="@_adv.AdvertentieId">naar advertentie</a>
                </td>
            </tr>
        }
    </table>
}

<br />
<h3>Zoek hier naar Users en reviews. Let op Hoofdletters!</h3>
<br />
<form method="post">
    <input asp-for="ZoekTerm" type="text" />
    <button asp-page-handler="ZoekParticulier" type="submit" class="btn btn-primary">zoek op particulier</button>
</form>
<br />

@if (Model.PartResultaat != null)
{
    <h3>Lijst particuliere gebruikers</h3>
    <table class="table">
        <tr>

            <th>Usernaam</th>
            <th>Telefoonnumer</th>
            <th>Email</th>
        </tr>
        @foreach (Models.Particulier _particulier in Model.PartResultaat)
        {
            <tr>

                <td>@_particulier.UserName</td>
                <td>@_particulier.TelefoonNummer</td>
                <td>@_particulier.Email</td>
            </tr>
            if(_particulier.Reviews!=null)
            {
                <tr><td>Reviews</td></tr>
                <tr>
                    <th>reviewernaam</th>
                    <th>score</th>
                    <th>beschrijving</th>
                </tr>
                
            }
            @foreach (Models.ParticulierReview _partReview in _particulier.Reviews)
            {
                <tr>
                    <td>@_partReview.ReviewerName</td>
                    <td>@_partReview.Score</td>
                    <td>@_partReview.Beschrijving</td>
                </tr>
            }
        }
    </table>
}

<br />
<form method="post">
    <input asp-for="ZoekTerm" type="text" />
    <button asp-page-handler="ZoekBedrijf" type="submit" class="btn btn-primary">zoek op bedijf</button>
</form>
<br />

@if (Model.BedrijfResultaat != null)
{
    <h3>Lijst bedrijven</h3>
    <table class="table">
        <tr>

            <th>Bedrijfnaam</th>
            <th>Adres</th>
            <th>Telefoonnumer</th>
            <th>Email</th>

        </tr>
        @foreach (Models.Bedrijf _Bedrijf in Model.BedrijfResultaat)
        {
            <tr>
                <td>@_Bedrijf.UserName</td>
                <td>@_Bedrijf.Adres</td>
                <td>@_Bedrijf.TelefoonNummer</td>
                <td>@_Bedrijf.Email</td>

            </tr>
            if (_Bedrijf.Reviews != null)
            {
                <tr><td>Reviews</td></tr>
                <tr>
                    <th>reviewernaam</th>
                    <th>score</th>
                    <th>beschrijving</th>
                </tr>

            }
            @foreach (Models.BedrijfReview _bedrijfReview in _Bedrijf.Reviews)
            {
                <tr>
                    <td>@_bedrijfReview.ReviewerName</td>
                    <td>@_bedrijfReview.Score</td>
                    <td>@_bedrijfReview.Beschrijving</td>
                </tr>
            }
        }
    </table>
}