@page "/"
@model MainPageModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Dit is om even te testen</h2>
<table class="table">
    @foreach (Models.Particulier _particulier in Model.particulieren)
    {
        <tr>
            <td>@_particulier.VoorNaam</td>
            <td>@_particulier.AchterNaam</td>
            <td>@_particulier.TelefoonNummer</td>
        </tr>
    }
    @foreach (Models.TweedeHandsAdvertentie _tweedeHands in Model.tweedeHandsAdvertenties)
    {
        <tr>
            <td>@_tweedeHands.ProductId</td>
            <td>@_tweedeHands.StaatProduct</td>
        </tr>
    }
</table>

